@{
    ViewData["Title"] = "Home Page";
}

@*<div class="cover-image">
    <img src="~/IMG/Dunk-low.jpg" alt="Imagen de portada">
</div>*@

<div class="content">
    <!-- Aquí va el contenido inferior de tu página -->
</div>