/* Estilo específico para la tabla con el ID "miTablaEspecial" */
.tablaBusqueda {
    max-height: 20px;
    height: 10px;
    width: 100%; /* Ancho de la tabla al 100% del contenedor */
    border-collapse: collapse; /* Colapsar los bordes de las celdas */
    background-color: #f2f2f2; /* Color de fondo de la tabla */
    overflow-y: auto;
}

    /* Estilo para las celdas de encabezado */
    .tablaBusqueda th {
        background-color: #102c54; /* Color de fondo del encabezado */
        color: white; /* Color de texto del encabezado */
        height: 40px; /* Alto de las celdas de encabezado */
        text-align: center; /* Alineación del texto en el encabezado */
    }

    /* Estilo para las celdas de datos */
    .tablaBusqueda td {
        background-color: white; /* Color de fondo de las celdas de datos */
        color: #333; /* Color de texto de las celdas de datos */
        height: 30px; /* Alto de las celdas de datos */
        text-align: left; /* Alineación del texto en las celdas de datos */
        padding: 3px; /* Espaciado interno de las celdas de datos */
        border: 1px solid #ccc; /* Borde de 1 píxel con color gris claro */
    }

    /* Estilo para las filas impares */
    .tablaBusqueda tr:nth-child(odd) {
        background-color: #f9f9f9; /* Color de fondo para filas impares */
    }

    /* Estilo para filas cuando se pasa el ratón por encima */
    .tablaBusqueda tr:hover {
        background-color: #ddd; /* Color de fondo al pasar el ratón por encima */
    }

.BarraSuperior {
    background-color: #102c54;
    text-align: left;
    text-emphasis-color: white;
    height: 60px;
    align-items: center;
    align-content: center;
    display: flex;
}

.BarraInferio {
    background-color: #102c54;
    text-align: left;
    text-emphasis-color: white;
    height: 60px;
    align-items: center;
    align-content: center;
    display: flex;
    height: 50px;
}



.BtnImprimir {
    align-content: center;
    background-color: #ea8a21;
    padding: 10px;
    vertical-align: central;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido del botón */
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    border-radius: 5px;
    border-color: transparent;
    height: 40px;
    margin-left: 10px;
}

.Borde {
    background-color: white;
    border-color: black;
}

.TextLitlle {
    text-align:center;
    color: white;
    height: 50px;
    width: 95%;
    background-color: #102c54;
    font-weight: bold; /* Aplicar negrita */
    font-size: 20px; /* Aumentar el tamaño de la fuente (cambia el valor según tus preferencias) */
}

.tablaDetalles {
    max-height: 20px;
    height: 10px;
    width: 100%; /* Ancho de la tabla al 100% del contenedor */
    border-collapse: collapse; /* Colapsar los bordes de las celdas */
    background-color: #f2f2f2; /* Color de fondo de la tabla */
    overflow-y: auto;
}

    /* Estilo para las celdas de encabezado */
    .tablaDetalles th {
        background-color: #102c54; /* Color de fondo del encabezado */
        color: white; /* Color de texto del encabezado */
        height: 40px; /* Alto de las celdas de encabezado */
        text-align: center; /* Alineación del texto en el encabezado */
    }

    /* Estilo para las celdas de datos */
    .tablaDetalles td {
        background-color: white; /* Color de fondo de las celdas de datos */
        color: #333; /* Color de texto de las celdas de datos */
        height: 30px; /* Alto de las celdas de datos */
        text-align: left; /* Alineación del texto en las celdas de datos */
        padding: 3px; /* Espaciado interno de las celdas de datos */
        border: 1px solid #ccc; /* Borde de 1 píxel con color gris claro */
    }

.Separation {
    background-color: #102c54;
}

.table-container {
    height: 150px; /* Ajusta la altura deseada para tu tabla */
    overflow: auto; /* Habilita la barra de desplazamiento */
}

.FormContent{
    height:150px;
    align-content:end;
    align-items:end;
}